*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.cartcontainer{
    padding: 40px 50px;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartcontainer .emptycart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.cartcontainer .emptycart h2{
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}

.cartcontainer .emptycart .emptyCartBtn{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #010f1c;
}

.cartcontainer .content{
    max-width: 100%;
    padding: 20px 30px;
}

.cartcontainer .content .cart_item{
    padding: 20px 30px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.cartcontainer .content .cart_item .img_box{
    background-color: #f1f1f1;
    padding: 20px 20px;
}

.cartcontainer .content .cart_item .img_box img{
    width: 250px;
    height: 250px;
}

.cartcontainer .content .cart_item .detail{
    display: flex;
    margin-right: 300px;
    margin-bottom: 50px;
    padding: 20px 30px;
    justify-content: space-between;
    width: 400px;
}

.cartcontainer .content .cart_item .detail .info h4{
    text-transform: uppercase;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: 100;
    letter-spacing: 1px;
}

.cartcontainer .content .cart_item .detail .info h3{
    margin-top: 20px;
    color: #010f1c;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}

.cartcontainer .content .cart_item .detail .info p{
    margin-top: 10px;
    color: #010f1c;
    letter-spacing: 1px;
}

.cartcontainer .content .cart_item .detail .info .qty{
    margin-top: 10px;
    display: flex;
    width: 70px;
    justify-content: space-between;
}

.cartcontainer .content .cart_item .detail .info .qty .incqty{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 32px;
    cursor: pointer;
}

.cartcontainer .content .cart_item .detail .info .qty .decqty{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 32px;
    cursor: pointer;
}

.cartcontainer .content .cart_item .detail .info .qty input{
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    color: #010f1c;
    width: 50px;
    display: flex;
    margin-left: 30px;
}

.cartcontainer .content .cart_item .detail .info .subtotal{
    color: #010f1c;
    font-size: 22px;
    margin-top: 10px;
}

.cartcontainer .content .cart_item .detail .close{
    margin-top: 30px;
    margin-left: 50px;
}

.cartcontainer .content .cart_item .detail .close button{
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    color: #db0045;
    cursor: pointer;
}

.cartcontainer .container_small{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartcontainer .container_small .totalprice{
    margin-top: 30px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cartcontainer .container_small .checkout{
    margin-top: 40px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #0989ff;
    cursor: pointer;
}
